body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: black;
	}

a:link {
	color: Crimson;
	text-decoration: none;
	}

a:visited {
	color: Green;
	}

a:hover {
	text-decoration: underline;
	}

a:active {
	color: Skyblue;
}

#block1 {
	background-color: orange;
	text-align: center;
	padding: 15px;
	border: 2px solid white;
	margin: auto;
}


#artist {
	font-size:18px;
	color: white;
	width: 300px;
	height: 40px;
	padding: 30px;
	margin: auto;
	border-style: double;
}

#painter {
	color: green;

}

#sculptor {
	font-family: serif;
}

.sidebar {
	color: black;
	background-color: white;
	height: 250px;
	width: 200px;
	margin: 20px;
	padding: 25px;
	float:left;

}

#container {
	width:1400px;
	height: 2400px;
	background-color: yellow;
	margin:auto;
	float:left;
}

#square {
	width: 300px;
	height: 200px;
	margin: auto;
	background-color:blue;
	float:left;
}

#circle {
	width: 300px;
	height: 200px;
	margin: auto;
	background-color:red;
	float:left;
}

#rectangle {
	width: 300px;
	height: 200px;
	margin: auto;
	background-color:green;
	float:left;
}

#triangle {
	width: 300px;
	height: 200px;
	margin: auto;
	background-color:white;
	float:left;
}