body {
	background-color: white;
	margin: 0px;
}

#container {
	width: 100%;
	min-height: 4500px;
	max-height: 100%;
	/*background-image: url('../images/stripes2.jpg');*/
	background-color: Black;
	z-index: 0;
	margin: auto;
}

#header {
	background-color: #2F4F4F;
	height: 250px;
	width: 70%;
	position: relative;
	top: 0px;
	margin: auto;
	z-index: 2;
}

.sew1 {
	width: 100%;
	height: 30px;
	background-color: DarkBlue;
	z-index: 3;
	position: absolute;
}

.header {
	bottom: 0px;
}

.bottom {
	top: 0px;
}

#main {
	height: 5000px;
	width: 100%;
	margin: 0px auto 0px auto;
	z-index:2;
}

.sew {
	width: 30px;
}

#block1 {
	min-width: 100%;
	height: 900px;
	position: relative;
	top: 0px;
	z-index:3;
}

#topr {
	background-image: url('../taken/facebook1.png');
	background-color: orange;
	height: 450px;
	width: 85%;
	position: absolute;
	top: 0px;
	right: 0px;
}

.topr {
	height: 100%;
	background-color: DarkBlue;
	float: left;
}

#topl {
	background-image: url('../assets/grid1a-01.png');
	background-color: #2F4F4F;
	height: 450px;
	width: 85%;
	position: absolute;
	left: 0px;
	top: 450px;
}

.topl {
	height: 100%;
	background-color: DarkBlue;
	float: right;
}

#square {
	background-color: white;
	height: 28%;
	width: 12%;
	position: absolute;
	top: 325px;
	left: 500px;
	transform: rotate(45deg);
	z-index: 6;
}

#block2 {
	width: 100%;
	height: 1400px;
	position: relative;
	top: 0px;
}

#peace {
	height: 1400px;
	width: 70%;
/*	background-image: url('../images/honey.png');
*/	background-repeat: no-repeat;
	background-color: #B22222;
	z-index: 2;
	margin: auto;
	position: absolute;
	left: 15%;
}

#stripe1{
	position: relative;
	top: 10%;
	z-index: 3;
}

.turtle {
	width: 50%;
	height: 700px;
	float: left;
	margin: 300px 0;
	z-index: 4;
}

.big {
	background-color: Crimsom;
}

.med {
	background-color: Black;
}

#tcircle {
	background-color: white;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	border: 40px solid;
	position: relative;
	top: 410px;
	left: 37.5%;
	z-index: 6;
}

#middle {
	height: 1700px;
	width: 100%;
	background-color: #483D8B;
	position: relative;
	z-index: 5;
}

.cloud {
	height: 700px;
	width: 900px;
	background-color: Crimson;
}

.left {
	position: absolute;
	top: 20px;
	left: 20px;
}

.right {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#war {
	height: 20%;
	width: 100%;
	background-color: #B22222;
	z-index: 5;
}

.fire {
	width: 50%;
	height: 45%;
	float: left;
	margin: 300px 0;
}

.tall {
	background-color: Crimson;
}

.short {
	background-color: black;
}

#bottom {
	background-color: #2F4F4F;
	height: 250px;
	width: 70%;
	position: relative;
	bottom: 0px;
	margin: auto;
}